
.container {
    border: 1px solid #DDD;
    margin: 10px;
}

#search { height: 25px; }

.brand {
    font-family: "Comic Sans MS", serif;
    padding: 5px 20px 5px !important;
}

#filters {
    overflow-x: auto;
    border-right: 1px solid #DDD;
    background-color: #F7F7F7;
}

.nav-header {
    border: 1px solid #DDD;
    background-color: #DDD;
}

#filters li:not(.nav-header) {
    color: #08C;
}

#results {
    font-family: "sans";
}

.provider {
	color: orange;
	font-size: 14px;
	margin-top: -4;
	padding-left: 110px;
}
.item-title {
	padding-left: 110px;
	font-size: 22px;
	line-height: 20px;
    margin-top: 5px;
}
